@using EmprestimoLivros.Dto
@model UsuarioRegisterDto

@{
    Layout = "_LayoutDeslogada";
}

@if (TempData["MensagemSucesso"] != null)
{
    <div class="alert alert-success text-light" role="alert">
        @TempData["MensagemSucesso"]
    </div>
}
@if (TempData["MensagemErro"] != null)
{
    <div class="alert alert-danger text-light" role="alert">
        @TempData["MensagemErro"]
    </div>
}

<div asp-validation-summary="All" class="text-danger"></div>

<div class="container">   
    <h2>Cadastro de usuário</h2>
    <form method="post" asp-action="Registrar" asp-controller="Login">
        
        <div class="form-group">
            <label for="nome">Nome:</label>
            <input type="text" class="form-control" id="nome" placeholder="Digite seu nome" asp-for="Nome">
        </div>
        <div class="form-group">
            <label for="sobrenome">Sobrenome:</label>
            <input type="text" class="form-control" id="sobrenome" placeholder="Digite seu sobrenome" asp-for="Sobrenome">
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Digite seu email" asp-for="Email">
        </div>
        <div class="form-group">
            <label for="senha">Senha:</label>
            <input type="password" class="form-control" id="senha" placeholder="Digite sua senha" asp-for="Senha">
        </div>
        <div class="form-group">
            <label for="senha">Confirma senha:</label>
            <input type="password" class="form-control" id="senha" placeholder="Digite a confirmação de senha" asp-for="ConfirmaSenha">
        </div>

        <div class="d-flex justify-content-center mt-3">
            <button type="submit" class="btn btn-success w-25 mx-2">Cadastrar</button>
            <a asp-action="Login" asp-controller="Login" class="btn btn-primary w-25">Voltar</a>
        </div>
    </form>

</div>
